<launch>

<!-- - - - - - - - - - - - - - - - - - - - UAV 2 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <node pkg="offboard_control" name="Quad1_action_00" type="action_00.py" output="screen">
        <param name="quad_ros_namespace" value="/uav1" />
        <param name="xOffset" value="0" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad1_action_01" type="action_01.py" output="screen">
        <param name="quad_ros_namespace" value="/uav1" />
        <param name="xOffset" value="0" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad1_action_02" type="action_02.py" output="screen">
        <param name="quad_ros_namespace" value="/uav1" />
        <param name="xOffset" value="0" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad1_action_03" type="action_03.py" output="screen">
        <param name="quad_ros_namespace" value="/uav1" />
        <param name="xOffset" value="0" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad1_action_04" type="action_04.py" output="screen">
        <param name="quad_ros_namespace" value="/uav1" />
        <param name="xOffset" value="0" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad1_action_05" type="action_05.py" output="screen">
        <param name="quad_ros_namespace" value="/uav1" />
        <param name="xOffset" value="0" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad1_action_06" type="action_06.py" output="screen">
        <param name="quad_ros_namespace" value="/uav1" />
        <param name="xOffset" value="0" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad1_action_07" type="action_07.py" output="screen">
        <param name="quad_ros_namespace" value="/uav1" />
        <param name="xOffset" value="0" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad1_action_08" type="action_08.py" output="screen">
        <param name="quad_ros_namespace" value="/uav1" />
        <param name="xOffset" value="0" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad1_action_09" type="action_09.py" output="screen">
        <param name="quad_ros_namespace" value="/uav1" />
        <param name="xOffset" value="0" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad1_action_10" type="action_10.py" output="screen">
        <param name="quad_ros_namespace" value="/uav1" />
        <param name="xOffset" value="0" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad1_action_11" type="action_11.py" output="screen">
        <param name="quad_ros_namespace" value="/uav1" />
        <param name="xOffset" value="0" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad1_action_12" type="action_12.py" output="screen">
        <param name="quad_ros_namespace" value="/uav1" />
        <param name="xOffset" value="0" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad1_action_13" type="action_13.py" output="screen">
        <param name="quad_ros_namespace" value="/uav1" />
        <param name="xOffset" value="0" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>



<!-- - - - - - - - - - - - - - - - - - - - UAV 2 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <node pkg="offboard_control" name="Quad2_action_00" type="action_00.py" output="screen">
        <param name="quad_ros_namespace" value="/uav2" />
        <param name="xOffset" value="6?" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad2_action_01" type="action_01.py" output="screen">
        <param name="quad_ros_namespace" value="/uav2" />
        <param name="xOffset" value="6?" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad2_action_02" type="action_02.py" output="screen">
        <param name="quad_ros_namespace" value="/uav2" />
        <param name="xOffset" value="6?" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad2_action_03" type="action_03.py" output="screen">
        <param name="quad_ros_namespace" value="/uav2" />
        <param name="xOffset" value="6?" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad2_action_04" type="action_04.py" output="screen">
        <param name="quad_ros_namespace" value="/uav2" />
        <param name="xOffset" value="6?" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad2_action_05" type="action_05.py" output="screen">
        <param name="quad_ros_namespace" value="/uav2" />
        <param name="xOffset" value="6?" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad2_action_06" type="action_06.py" output="screen">
        <param name="quad_ros_namespace" value="/uav2" />
        <param name="xOffset" value="6?" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad2_action_07" type="action_07.py" output="screen">
        <param name="quad_ros_namespace" value="/uav2" />
        <param name="xOffset" value="6?" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad2_action_08" type="action_08.py" output="screen">
        <param name="quad_ros_namespace" value="/uav2" />
        <param name="xOffset" value="6?" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad2_action_09" type="action_09.py" output="screen">
        <param name="quad_ros_namespace" value="/uav2" />
        <param name="xOffset" value="6?" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad2_action_10" type="action_10.py" output="screen">
        <param name="quad_ros_namespace" value="/uav2" />
        <param name="xOffset" value="6?" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad2_action_11" type="action_11.py" output="screen">
        <param name="quad_ros_namespace" value="/uav2" />
        <param name="xOffset" value="6?" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad2_action_12" type="action_12.py" output="screen">
        <param name="quad_ros_namespace" value="/uav2" />
        <param name="xOffset" value="6?" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>

    <node pkg="offboard_control" name="Quad2_action_13" type="action_13.py" output="screen">
        <param name="quad_ros_namespace" value="/uav2" />
        <param name="xOffset" value="6?" />
        <param name="yOffset" value="0" />
        <param name="zOffset" value="0" />
        <param name="freq" value="20" />
        <param name="time_full_traj" value="20" />
    </node>


</launch>
